<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="alert alert-warning">
        <span style="text-align:center"><strong>Warning!</strong> Site is in test mode.</span>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pentagon Testing System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/app/settings">Settings</a></li>
            </ul>
        </div>
    </nav>
  <router-outlet class="col-sm-12"></router-outlet>
  <!--<div *ngIf="error && error != ''" class="jumbotron">
    <h1>Oooops!</h1>
    <p>
      Looks like we were attacked by alians :( <br />
      Please call the national guard 
    </p>
  </div>-->
    <div class="col-sm-12">
        <footer>
            <hr />
            <h1>U.S. Ministry of Defence</h1>
            <p>
                Please stand by
            </p>       
        </footer>
    </div>
</div>

